
    
    .cards {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 12px;
        margin: 26px;      
    
    }

    .card-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);        
        
    }
